html, body {
    margin: 0 0;
    height: 100%;
    padding: 0;
}

.mycenter {
    justify-self: center;

}

.container {
    height: 100%;
    width: 100%;
    /* height: 100vh;
    width: 100vw; */

    display: grid; 

    margin: 0 auto !important;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". header ."
      ". table ."
      ". table ."; 
  }
.myheader {
    grid-area: header;
    align-self: flex-end;
    margin-bottom: 10px;
}

.mytable {
    grid-area: table;
    align-self: flex-start;
}

th {
    white-space: nowrap !important;
    padding: 0 15px;
}

td {
    text-align: center;
}

.minimal-cell {
    background: none;
    border-width: 0;
}